<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">We are trying to predict product price</h3>
      </div>
      <hr/>
      <p>
          Your product:
          <img src="{{ image }}" width="189" height="255" alt="item"></img>
      </p>
      <p>
          Your product category:
          {{ category }}
      </p>
      <p>
          Suggested price: {{ price }}
      </p>
      <p>
          Similar Offers: similar_offers
      </p>
      <table border="1">
        <tbody>
          <tr>
            {% for offer in offers %}  <!--start for loop over variable data-->
              <td>
                <img src="{{ offer['image_path'] }}" width="189" height="255" alt="item"></img>
              </td>
            {% endfor %}
          </tr>
          <tr>
            {% for offer in similar_offers %}  <!--start for loop over variable data-->
              <td align="center">{{ offer['price'] }}</td>
            {% endfor %}            <!-- end for loop -->
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
