<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">We are trying to predict product price</h3>
      </div>
      <hr/>
      <div class="product_image">
          <h3>Your product:</h3>
          <div>
            <img src="{{ image }}" width="189" height="255" alt="item"></img>
          </div>
      </div>
      <div class="product_prediction">
        <p>
          Predicted category: <strong>{{ category }} </strong>
        </p>
        <p>
          Suggested price: <strong> {{ price }} </strong>
        </p>
      </div>
      <div class="clear"></div>
      <h3 class="similar_offers">
          Similar Offers:
      </h3>
      <table border="1"  class="product_header">
        <tbody>
          <tr>
            {% for offer in offers %}  <!--start for loop over variable data-->
              <td>
                <img src="{{ offer['image_path'] }}" width="189" height="255" alt="item"></img>
              </td>
            {% endfor %}
          </tr>
          <tr>
            {% for offer in offers %}  <!--start for loop over variable data-->
              <td align="center">{{ offer['price'] }}</td>
            {% endfor %}            <!-- end for loop -->
          </tr>
        </tbody>
      </table>
      <div>
        <p><a href='/clear'>Return to Home</a></p>
      </div>
    </div>
  </body>
</html>
