<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">We are trying to predict your product price</h3>
      </div>
      <hr/>
      <p>
          Your product:
          <!--img src="{{ url_for('static', filename='img/img01.png') }}"></img-->
      </p>

      <p>
      </p>
    </div>
  </body>
</html>
